﻿
@{
    ViewData["Title"] = "Contact";
}
<div class="alert alert-secondary" role="alert">
    <h4>Contact us</h4>
</div>

<p>Arcu dui vivamus arcu felis. Tempus urna et pharetra pharetra. Etiam dignissim diam quis enim. At ultrices mi tempus imperdiet nulla malesuada pellentesque. Molestie a iaculis at erat. Vitae suscipit tellus mauris a diam maecenas sed enim ut. Accumsan in nisl nisi scelerisque. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio. Neque vitae tempus quam pellentesque nec nam. Blandit aliquam etiam erat velit scelerisque in dictum. Eget gravida cum sociis natoque penatibus et magnis. Fames ac turpis egestas integer eget aliquet nibh praesent tristique. Pretium lectus quam id leo. Nisi vitae suscipit tellus mauris a diam maecenas sed enim. Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Amet commodo nulla facilisi nullam vehicula ipsum a. Nisl purus in mollis nunc sed id semper. Imperdiet proin fermentum leo vel orci. Egestas fringilla phasellus faucibus scelerisque eleifend donec.</p>
