﻿
@{
    ViewData["Title"] = "Home";
}
<style>
    body {
        background-image: url("https://i.ibb.co/Ks3cJQJ/car.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F5F5;
    }
</style>

<div class="alert alert-warning" role="alert">
    <h4 style="text-align:center">Car rental</h4>
</div>

<p style="text-indent: 50px">
    We provides the most inexpensive, affortable, and reliable service in Bulgaria.
    The prices are without comptition, guaranteed the lowest one, and the process for renting a car is the easiest as possible.
    We guarantee well mantained cars fully meeting our customer requirements.
</p>
<br /> 
<div style="margin-left:30px">
    <ul>
        <li type="square">
            Best Price Guaranteed
        </li>
        <li type="square">
            Low deposits
        </li>
        <li type="square">
            Excellent maintained vehicles
        </li>
        <li type="square">
            Discounts for regular customers
        </li>
        <li type="square">
            Taxes included
        </li>
        <li type="square">
            Wide selection of cars
        </li>
        <li type="square">
            Quality customer service
        </li>
        <li type="square">
            Convenient office locations
        </li>
        <li type="square">
            Deliveries to address
        </li>
        <li type="square">
            Easy booking process
        </li>
    </ul>
</div>
  
