﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="alert alert-warning" role="alert">
    <h4>Privacy policy</h4>
</div>

<p>Nullam ac feugiat ligula. Maecenas in erat facilisis, efficitur lorem nec, tincidunt lacus. Nulla ac lacus at lacus feugiat malesuada sed eu metus. Praesent iaculis sem eget arcu iaculis pretium. Mauris accumsan dui ac sodales fringilla. Maecenas interdum ultrices dapibus. Integer nec purus in augue congue consectetur vel porta nisl. Nulla egestas lorem non gravida placerat. </p>
