﻿@model Web.CarRental.ViewModels.CarViewModel
@{
    ViewBag.Title = "Car new";
}

<form asp-action="Insert" asp-controller="Car">
    <div class="card border-primary mb-5">
        <div class="card-header border-primary">
            <div class="row">
                <label class="col">Car new</label>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label">Brand</label>
                    <select asp-for="BrandId" class="form-control"
                            asp-items="@(new SelectList(Model.Brands,"BrandId","Model", "BrandId", "Year"))">
                        <option>Please select brand</option>
                    </select>
                    <span asp-validation-for="BrandId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Current Location</label>
                    <select asp-for="CurrentLocationId" class="form-control"
                            asp-items="@(new SelectList(Model.CurrentLocations,"LocationId","City", "LocationId", "Country"))">
                        <option>Please select location</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" type="number" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input asp-for="CarImage" style="width:350px" class="btn btn-light" type="file" >              
                </div>
            </div>
            <hr />
            <div class="form-row mb-6">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
