﻿@model Web.CarRental.ViewModels.CarViewModel
@{
    ViewBag.Title = "Car details";
}

<div class="card border-info mb-5">
    <div class="card-header border-info">
        <div class="row">
            <label class="col">Car details</label>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div id="image">
                <img src="@Model.Image" id="carImage" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.Brand.Model)</label>
                @Html.EditorFor(model => model.Brand.Model, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.Brand.Color)</label>
                @Html.EditorFor(model => model.Brand.Color, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.Brand.Year)</label>
                @Html.EditorFor(model => model.Brand.Year, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.CurrentLocation.Country)</label>
                @Html.EditorFor(model => model.CurrentLocation.Country, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.CurrentLocation.City)</label>
                @Html.EditorFor(model => model.CurrentLocation.City, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.CurrentLocation.PostalCode)</label>
                @Html.EditorFor(model => model.CurrentLocation.PostalCode, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.CurrentLocation.Street)</label>
                @Html.EditorFor(model => model.CurrentLocation.PostalCode, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.Amount)</label>
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <hr />
        <a asp-action="Update" class="btn btn-info" asp-route-id="@Model.CarId">Edit</a>
    </div>
</div>
<style>
    #carImage {
        width: 50%;
        border: 1px solid #17A2B8;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
</style>
