﻿@model IEnumerable<Web.CarRental.ViewModels.CarViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_CookieConsentPartial" />

<div>
    <div class="row p-2">
        <div class="col-sm-12" align="right">
            <a asp-action="Create" class="btn btn-outline-primary">Create new car</a>
        </div>
    </div>
    <div class="row p-2">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Brand.Model)</h5>
                        <div class="col-md-offset-2">
                            <p class="card-text">
                                <div id="image">
                                    <img src="@item.Image" id="carImage" />
                                </div>
                                @Html.DisplayFor(modelItem => item.Brand.Color),
                                @Html.DisplayFor(modelItem => item.Brand.Year),
                                @Html.DisplayFor(modelItem => item.CurrentLocation.Country)
                            </p>
                        </div>
                        <br />
                        <hr />
                        <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.CarId">Details</a>
                        <a asp-action="Update" class="btn btn-outline-warning" asp-route-id="@item.CarId">Edit</a>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.CarId">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<style>
    #carImage {
        width: 50%;
        border: 1px solid #17A2B8;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
</style>