﻿@model Web.CarRental.ViewModels.BrandViewModel
@{
    ViewData["Title"] = "Create brand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Insert" asp-controller="Brand">
    <div class="card border-primary mb-5">
        <div class="card-header border-primary">
            <div class="row">
                <label class="col">Brand new</label>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-row mb-6">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>