﻿@model Web.CarRental.ViewModels.BrandViewModel
@{
    ViewData["Title"] = "Brand details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card border-info mb-5">
    <div class="card-header border-info">
        <div class="row">
            <label class="col">Brand details</label>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.Model)</label>
                @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.Color)</label>
                @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>@Html.DisplayNameFor(model => model.Year)</label>
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <hr />
        <a asp-action="Update"  class="btn btn-info" asp-route-id="@Model.BrandId">Edit</a>
    </div>
</div>
