﻿@model IEnumerable<Web.CarRental.ViewModels.BrandViewModel>
@{
    ViewData["Title"] = "Brand list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row p-2">
        <div class="col-sm-12" align="right">
            <a asp-action="Create" class="btn btn-outline-primary">Create new brand</a>
        </div>
    </div>
    <div class="row p-2">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">@Html.DisplayFor(brand => item.Model)</h5>
                            <p class="card-text">@Html.DisplayFor(brand => item.Color)</p>
                        </div>
                        <br />
                        <hr />
                        <a asp-action="Details" asp-controller="Brand" class="btn btn-outline-info" asp-route-id="@item.BrandId">Details</a>
                        <a asp-action="Update" asp-controller="Brand" class="btn btn-outline-warning" asp-route-id="@item.BrandId">Edit</a>
                        <a asp-action="Delete" asp-controller="Brand"  class="btn btn-outline-danger" asp-route-id="@item.BrandId">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
