﻿@model Web.CarRental.ViewModels.UserViewModel

@{
    ViewBag.Title = "User details";
}

<div class="card border-info mb-5">
    <div class="card-header border-info">
        <div class="row">
            <label class="col">User details</label>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Firstname)</label>
                @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Lastname)</label>
                @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Email)</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Telephone)</label>
                @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Password)</label>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Role)</label>
                @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <hr />
        <a asp-action="Update" class="btn btn-info" asp-route-id="@Model.UserId">Edit</a>
    </div>
</div>
