﻿@model IEnumerable<Web.CarRental.ViewModels.UserViewModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="row p-2">
        <div class="col-sm-12" align="right">
            <a asp-action="Create" class="btn btn-outline-primary">Create new user</a>
        </div>
    </div>
    <div class="row p-2">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Firstname)  @Html.DisplayFor(modelItem => item.Lastname)</h5>
                            <p class="card-text"> @Html.DisplayFor(modelItem => item.Email)</p>
                        </div>
                        <br />
                        <hr />
                        <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.UserId">Details</a>
                        <a asp-action="Update" class="btn btn-outline-warning" asp-route-id="@item.UserId">Edit</a>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.UserId">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>