﻿@model Web.CarRental.ViewModels.UserViewModel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-3">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
            <a class="list-group-item list-group-item-action" id="list-password-list" data-toggle="list" href="#list-password" role="tab" aria-controls="messages">Change Password</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            @if (ViewBag.Password == true)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h6 style="text-align:center"><i>@ViewBag.PasswordMessage</i></h6>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <!-- Profile -->
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>@Html.DisplayNameFor(model => model.Firstname)</label>
                            @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                        <div class="form-group col-md-6">
                            <label>@Html.DisplayNameFor(model => model.Lastname)</label>
                            @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>@Html.DisplayNameFor(model => model.Email)</label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                        <div class="form-group col-md-6">
                            <label>@Html.DisplayNameFor(model => model.Telephone)</label>
                            @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>@Html.DisplayNameFor(model => model.Role)</label>
                            @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                <form asp-action="Settings">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>@Html.DisplayNameFor(model => model.Firstname)</label>
                                @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group col-md-6">
                                <label>@Html.DisplayNameFor(model => model.Lastname)</label>
                                @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>@Html.DisplayNameFor(model => model.Email)</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group col-md-6">
                                <label>@Html.DisplayNameFor(model => model.Telephone)</label>
                                @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <hr />
                        @Html.HiddenFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.Token, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="form-row mb-6">
                            <input type="submit" value="Change" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="list-password" role="tabpanel" aria-labelledby="list-password-list">
                <form asp-action="Profile">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>@Html.DisplayNameFor(model => model.Password)</label>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", Type = "password" } })
                            </div>
                            <div class="form-group col-md-6">
                                <label>@Html.DisplayNameFor(model => model.ConfirmPassword)</label>
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", Type = "password" } })
                            </div>
                        </div>
                        <hr />
                        @Html.HiddenFor(model => model.Token, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="form-row mb-6">
                            <input type="submit" value="Change Password" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
