﻿@model Web.CarRental.ViewModels.UserViewModel

@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="SignIn" class="text-left border border-light p-4">
    <div class="alert alert-info" role="alert">
        <h4>Sign In</h4>
    </div>
    <br />
    <div class="form-row mb-6">
        <div class="col">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row mb-6">
        <div class="col">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row mb-6">
        <input type="submit" value="Sign In" class="btn btn-info"/>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
