﻿@model Web.CarRental.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="SignUp" class="text-left border border-light p-4">
    <div class="alert alert-success" role="alert">
        <h4>Sign Up</h4>
    </div>
    @if (ViewBag.Error == true)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h6><i>@ViewBag.Message</i></h6>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <br />
    <div class="form-row mb-4">
        <div class="col">
            <label asp-for="Firstname" class="control-label"></label>
            <input asp-for="Firstname" class="form-control" />
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Lastname" class="control-label"></label>
            <input asp-for="Lastname" class="form-control" />
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row mb-4">
        <div class="col">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row mb-8">
        <div class="col">
            <label asp-for="Telephone" class="control-label"></label>
            <input asp-for="Telephone" class="form-control" />
            <span asp-validation-for="Telephone" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Role" class="control-label"></label>
            <input asp-for="Role" value="User" disabled="disabled" class="form-control" />
        </div>
    </div>
    <br />
    <div style="text-align:right">
        By clicking
        <em>Sign up</em> you agree to our
        <a href="https://localhost:44382/Home/Privacy" target="_blank">terms of service</a>
    </div>
    <div class="form-row mb-8">
        <input type="submit" value="Sign Up" class="btn btn-success" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
