﻿@model Web.CarRental.ViewModels.RentViewModel
@{
    ViewBag.Title = "Rent new";
}

<form asp-action="Insert" asp-controller="Rent">
    <div class="card border-primary mb-5">
        <div class="card-header border-primary">
            <div class="row">
                <label class="col">Rent new</label>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label">Pickup Location</label>
                    <select asp-for="PickupLocationId" class="form-control"
                            asp-items="@(new SelectList(Model.PickupLocations,"LocationId","City", "LocationId", "Country"))">
                        <option>Please select pickup location</option>
                    </select>
                    <span asp-validation-for="PickupLocationId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Return Location</label>
                    <select asp-for="ReturnLocationId" class="form-control"
                            asp-items="@(new SelectList(Model.ReturnLocations,"LocationId","City", "LocationId", "Country"))">
                        <option>Please select return location</option>
                    </select>
                    <span asp-validation-for="ReturnLocationId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Car</label>
                    <select asp-for="CarId" class="form-control"
                            asp-items="@(new SelectList(Model.Cars,"CarId","Brand.Model","CarId","Brand.Year"))">
                        <option>Please select car</option>
                    </select>
                    <span asp-validation-for="CarId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Pickup Date</label>
                    <input asp-for="PickupDate" class="form-control" />
                    <span asp-validation-for="PickupDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Return Location</label>
                    <input asp-for="ReturnDate" class="form-control" />
                    <span asp-validation-for="ReturnDate" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-row mb-6">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>