﻿@model Web.CarRental.ViewModels.RentViewModel
@using Microsoft.AspNetCore.Http;
@{
    ViewBag.Title = "Rent details";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <label class="col">Rent details</label>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Model)</label>
                @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Color)</label>
                @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Year)</label>
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Amount)</label>
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Pickup Location Country</label>
                @Html.EditorFor(model => model.PickupLocation.Country, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>Return Location Country</label>
                @Html.EditorFor(model => model.ReturnLocation.Country, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>Pickup Location City</label>
                @Html.EditorFor(model => model.PickupLocation.City, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Return Location City</label>
                @Html.EditorFor(model => model.ReturnLocation.City, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>Pickup Location PostalCode</label>
                @Html.EditorFor(model => model.PickupLocation.PostalCode, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-4">
                <label>Return Location PostalCode</label>
                @Html.EditorFor(model => model.ReturnLocation.PostalCode, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Pickup Location Street</label>
                @Html.EditorFor(model => model.PickupLocation.Street, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-6">
                <label>Return Location Street</label>
                @Html.EditorFor(model => model.ReturnLocation.Street, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.ReturnDate)</label>
                @Html.EditorFor(model => model.ReturnDate, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.PickupDate)</label>
                @Html.EditorFor(model => model.PickupDate, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <hr />
        <a asp-action="Update" class="btn btn-info" asp-route-id="@Model.RentId">Edit</a>
    </div>
</div>
<br />
<br />
<div class="card">
    <div class="card-header">
        <div class="row">
            <label class="col">@Html.DisplayFor(model => model.Comments.Count) comments</label>
        </div>
    </div>
    <div class="row p-12">
        @foreach (var item in Model.Comments)
        {
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-11">
                                <span class="badge badge-dark" height:20px">
                                    @Html.DisplayFor(modelItem => item.User.Firstname)
                                    @Html.DisplayFor(modelItem => item.User.Lastname)
                                </span>
                            </div>
                            <div class="form-group col-md-1">
                                <div class="col-sm-4" align="right">
                                    <div>
                                        <span class="badge badge-warning" style="width:50px; height:20px">
                                            <label>@Html.DisplayNameFor(modelItem => item.Rate):</label>

                                            @Html.DisplayFor(modelItem => item.Rate)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                @Html.DisplayFor(modelItem => item.CommentText)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (@Context.Session.GetString("IsStateLogged") == "true")
    {
        <div class="row p-2">
            <div class="col-sm-12" align="right">
                <a asp-action="Create" asp-controller="Comment" class="btn btn-outline-primary">Add new comment</a>
            </div>
        </div>
    }
</div>
<style>
    #carImage {
        width: 30%;
        border: 1px solid #17A2B8;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
</style>