﻿@model Web.CarRental.ViewModels.FilterRentViewModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Rents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-4">
        <div class="card border-primary mb-5 p-3">
            <div class="container p-2">
                <form asp-action="List" method="get" asp-controller="Rent">
                    <div class="alert alert-primary" role="alert">
                        <h4>Search</h4>
                    </div>
                    <br />
                    <div class="form-row mb-12">
                        <div class="col">
                            <label asp-for="FilterRent.Country" class="control-label"></label>
                            <input asp-for="FilterRent.Country" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row mb-12">
                        <div class="col">
                            <label asp-for="FilterRent.City" class="control-label"></label>
                            <input asp-for="FilterRent.City" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row mb-12">
                        <div class="col">
                            <label asp-for="FilterRent.Model" class="control-label"></label>
                            <input asp-for="FilterRent.Model" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row mb-12">
                        <div class="col">
                            <label asp-for="FilterRent.Amount" class="control-label"></label>
                            <input type="number" asp-for="FilterRent.Amount" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div align="right">
                        <input type="submit" value="Search" class="btn btn-primary" style="height:50px; width:150px"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div>
            @if (@Context.Session.GetString("Role") == "Admin")
            {
                <div class="row" style="padding-bottom:10px">
                    <div class="col-sm-12" align="right">
                        <a asp-action="Create" class="btn btn-outline-primary">Create new rent</a>
                    </div>
                </div>
            }
            <div>
                @foreach (var item in Model.RentViewModel)
                {
                    <div class="card border-dark mb-5">
                        <div class="card-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-8" align="left">
                                        <div>
                                            @Html.DisplayFor(modelItem => item.Model)
                                        </div>
                                    </div>
                                    <div class="col-sm-4" align="right">
                                        <div>
                                            <span class="badge badge-success" style="width:80px; height:20px">
                                                @Html.DisplayFor(modelItem => item.Year)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">

                                        <img src="@item.Image" id="carImage" />

                                        <span class="badge badge-pill" height:20px">
                                            @Html.DisplayNameFor(modelItem => item.AverageRate)
                                            @Html.DisplayFor(modelItem => item.AverageRate)
                                        </span>
                                        @for (double i = 0; i < @item.AverageRate; i++)
                                        {
                                            <img src="https://carlisletheacarlisletheatre.org/images/gold-star-png-icon-9.png" width="30" height="30">
                                        }
                                    </h5>
                                    <hr />

                                    <p class="card-text">
                                        <span class="badge badge-pill badge-success">&#10003;</span>
                                        <i>@Html.DisplayNameFor(modelItem => item.PickupLocation): </i>
                                        @Html.DisplayFor(modelItem => item.PickupLocation.Country),
                                        @Html.DisplayFor(modelItem => item.PickupLocation.City),
                                        @Html.DisplayFor(modelItem => item.PickupLocation.PostalCode)
                                    </p>
                                    <p class="card-text">
                                        <span class="badge badge-pill badge-success">&#10003;</span>
                                        <i>@Html.DisplayNameFor(modelItem => item.ReturnLocation): </i>
                                        @Html.DisplayFor(modelItem => item.ReturnLocation.Country),
                                        @Html.DisplayFor(modelItem => item.ReturnLocation.City),
                                        @Html.DisplayFor(modelItem => item.ReturnLocation.PostalCode)
                                    </p>
                                    <p class="card-text">
                                        <span class="badge badge-pill badge-success">&#10003;</span>
                                        <i>@Html.DisplayNameFor(modelItem => item.Model): </i>
                                        @Html.DisplayFor(modelItem => item.Model)
                                    </p>
                                    <p class="card-text">
                                        <span class="badge badge-pill badge-success">&#10003;</span>
                                        <i>@Html.DisplayNameFor(modelItem => item.Color): </i>
                                        @Html.DisplayFor(modelItem => item.Color)
                                    </p>
                                </div>
                            </div>
                            <div class="card-header border-0" style="background:#F8F8F8">
                                <div class="card-block px-3">
                                    <div align="center">
                                        <a asp-action="Details" class="badge badge-pill badge-info" asp-route-id="@item.RentId">Info</a>
                                        <a href="#" class="badge badge-pill badge-danger">
                                            Telephone
                                        </a>
                                        <hr />
                                        <br />
                                        <h4 class="card-title"><i>Price:</i> € @Html.DisplayFor(modelItem => item.Amount)</h4>
                                        <br />
                                        @if (item.IsAvailable == true && @Context.Session.GetString("IsStateLogged") == "true")
                                        {
                                            <input asp-for="@item.RentId" class="form-control" hidden="hidden" />
                                            <a asp-action="Book" asp-controller="Rent" class="btn btn-primary" asp-route-id="@item.RentId">Book now</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (@Context.Session.GetString("Role") == "Admin")
                        {
                            <div class="card-footer">
                                <a asp-action="Update" class="btn btn-outline-warning" asp-route-id="@item.RentId">Edit</a>
                                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.RentId">Delete</a>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<style>
    #carImage {
        width: 25%;
        border: 1px solid black;
        border-radius: 10px;
        display: inline-block;
    }

    #image {
        display: block;
        margin-bottom: 50px;
    }
</style>
