﻿@model Web.CarRental.ViewModels.LocationViewModel
@{
    ViewBag.Title = "Location details";
}

<div class="card border-info mb-5">
    <div class="card-header border-info">
        <div class="row">
            <label class="col">Location details</label>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Country)</label>
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.City)</label>
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.PostalCode)</label>
                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group col-md-6">
                <label>@Html.DisplayNameFor(model => model.Street)</label>
                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <hr />
        <a asp-action="Update"  class="btn btn-info"  asp-route-id="@Model.LocationId">Edit</a>
    </div>
</div>
