﻿@model IEnumerable<Web.CarRental.ViewModels.LocationViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row p-2">
        <div class="col-sm-12" align="right">
            <a asp-action="Create" class="btn btn-outline-primary">Create new location</a>
        </div>
    </div>
    <div class="row p-2">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Country)</h5>
                        <div>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.City)</p>
                        </div>
                        <br />
                        <hr />
                        <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.LocationId">Details</a>
                        <a asp-action="Update" class="btn btn-outline-warning" asp-route-id="@item.LocationId">Edit</a>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.LocationId">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
