﻿@model Web.CarRental.ViewModels.LocationViewModel
@{
    ViewBag.Title = "Location edit";
}

<form asp-action="Edit" asp-controller="Location">
    <div class="card border-warning mb-5">
        <div class="card-header border-warning">
            <div class="row">
                <label class="col">Location edit</label>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row mb-6">
                <input asp-for="LocationId" class="form-control" hidden="hidden" />
                <input type="submit" value="Edit" class="btn btn-warning" />
            </div>
        </div>
    </div>
</form>