﻿@model IEnumerable<Web.CarRental.ViewModels.CommentViewModel>
@{
    ViewData["Title"] = "Comment list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row p-2">
        <div class="col-sm-12" align="right">
            <a asp-action="Create" class="btn btn-outline-primary">Create new comment</a>
        </div>
    </div>
    <div class="row p-2">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">@Html.DisplayFor(comment => item.CommentText)</h5>
                            <p class="card-text">Rate: @Html.DisplayFor(comment => item.Rate)</p>
                        </div>
                        <br />
                        <hr />
                        <a asp-action="Details" asp-controller="Comment" class="btn btn-outline-info" asp-route-id="@item.CommentId">Details</a>
                        <a asp-action="Update" asp-controller="Comment" class="btn btn-outline-warning" asp-route-id="@item.CommentId">Edit</a>
                        <a asp-action="Delete" asp-controller="Comment"  class="btn btn-outline-danger" asp-route-id="@item.CommentId">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
