﻿@model Web.CarRental.ViewModels.CommentViewModel
@{
    ViewData["Title"] = "Comment update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Edit" asp-controller="Comment">
    <div class="card border-warning mb-5">
        <div class="card-header border-warning">
            <div class="row">
                <label class="col">Comment edit</label>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="CommentText" class="control-label"></label>
                    <input asp-for="CommentText" class="form-control" />
                    <span asp-validation-for="CommentText" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Rate" class="control-label"></label>
                    <input asp-for="Rate" class="form-control" />
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Rent</label>
                    <select asp-for="RentId" class="form-control"
                            asp-items="@(new SelectList(Model.Rents,"RentId","Model", "RentId", "Amount"))">
                        <option>Please select rent</option>
                    </select>
                    <span asp-validation-for="RentId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">User</label>
                    <select asp-for="UserId" class="form-control"
                            asp-items="@(new SelectList(Model.Users,"UserId","Firstname", "UserId", "Email"))">
                        <option>Please select user</option>
                    </select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-row mb-6">
                <input asp-for="CommentId" class="form-control" hidden="hidden" />
                <input type="submit" value="Edit" class="btn btn-warning" />
            </div>
        </div>
    </div>
</form>